<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipe"
        tools:targetApi="31">
        <activity
            android:parentActivityName=".views.ActionActivity"
            android:name=".views.auth.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:parentActivityName=".views.auth.LoginActivity"
            android:name=".views.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RapportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AllCommentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.NewCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ShowExpenseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ExpenseActivity"
            android:exported="false"
            android:parentActivityName=".views.ActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.UpdateActionActivity"
            android:exported="false"
            android:parentActivityName=".views.ShowActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ShowActionActivity"
            android:exported="false"
            android:parentActivityName=".views.ActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CompleteActivity"
            android:exported="false"
            android:parentActivityName=".views.ShowActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.NewActionActivity"
            android:exported="false"
            android:parentActivityName=".views.ActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.FilterActivity"
            android:exported="false"
            android:parentActivityName=".views.ActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActionActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>